{% extends 'BaseAdmin.html' %}
{% load static %}
{% block baseAdmin %}
    <form action="" method="POST" class='mt-3' id='formUser'>
        {% csrf_token %}
        <div class="mb-2">
            <label for="nom" class='form-label'>Nom</label>
            <input type="text" class='form-control mb-2' name='nom' id='nom' value="{{objet.username}}">
            <small id='valid-nom'></small>
        </div>
        <div class="mb-2">
            <label for="postnom" class='form-label'>Postnom</label>
            <input type="text" class='form-control mb-2' name='postnom' id='postnom' value="{{objet.first_name}}">
            <small id='valid-postnom'></small>
        </div>
        <div class="mb-2">
            <label for="prenom" class='form-label'>Prénom</label>
            <input type="text" class='form-control mb-2' name='prenom' id='prenom' value="{{objet.last_name}}">
            <small id='valid-prenom'></small>
        </div>
        <div class="mb-3">
            <label for="ecole" class='form-label'>Ecole</label>
            <select name="ecole" class='form-select'>   
                {% for objet in allEcole %}
                    <option value="{{objet.id}}">{{objet.ecole | capfirst}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class='btn btn-success w-100'>Sauvegarder</button>
    </form>
    <script src="{% static '/js/formUser.js' %}"></script>
{% endblock baseAdmin %}  