{% extends 'base.html' %}
{% load static %}
{% block base %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 fs-6 px-3" href=""><img src="{% static '/images/favicon-32x32.png' %}" > Election app</a>
        <button class="navbar-toggler position-absolute d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{% url 'createReadEcole' %}" class="nav-link {% if title == 'Ecole' %}active{% endif %}">
                            <i class="bi bi-building"></i> Ecole
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'createDirecteur' %}" class="nav-link {% if title == 'Directeur' %}active{% endif %}">
                            <i class="bi bi-person"></i> Directeur
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'readDirecteur' %}" class="nav-link {% if title == 'Liste Directeur' %}active{% endif %}">
                            <i class="bi bi-list-ul"></i> Liste Directeurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <i class="bi bi-box-arrow-left"></i> Déconnexion
                        </a>
                    </li>
                </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block baseAdmin %}{% endblock baseAdmin %}  
            </main>
        </div>
    </div>
    <script src="{% static '/js/bootstrap.js' %}"></script>
{% endblock base %}
    